<a href="https://colab.research.google.com/github/JackSandford/ECK/blob/main/Projects/Bus_Data_Emissions_Pandas_Analysis_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analyising the bus data challenges
---

In the previous notebook, you simplified and cleaned all the pulled data in order to create a single dataframe which could then be analysed. 

In this notebook, you will be creating a set of reusable functions that will be vital for analysing the data.

It is essential that these functions have meaningul names and are reusable (that means good use of parameters, variables etc) so that they can be used elsewhere in the project and on different sets of bus data (eg from different days).
This is great practice of building robust, scalable code. 

The ultimate goal of the project, is to find out how much of an effect on the air quality old buses (eg. Euro III) are having and how many harmful emissions are being produced, in the AQMA. 

The goal of this notebooks analysis is to build a picture of how much harmful emissions are being produced by each type of bus, and what is the effect of the Euro III buses emissions on the overall bus emissions in the AQMA. 

To do this, we need to find out:   
* how far each type of bus has travelled in a particular day
* what percentage of that days buses were each type of bus 
* what was the total emissions produced on that day for each type of bus 
* what percentage of the total emissions for all of the buses in a day is each type of bus producing 
* Same as above, but narrowed down to buses that have passed through the AQMA 

For the purpose of testing, you will be using a smaller set of data which only has 1 hour of bus data, but by writing reusable functions, it will be easy to parse the large days data through the same functions!

### Importing the data
---

**Run the code cell below** to retrieve the dataframes you created in the simplification notebook. 

Click accept when asked for Google Drive access, so it can access the bus data folder in your drive.

In [1]:
import os
import pandas as pd
import json 
from google.colab import drive

def mount_drive(data_path):
  drive.mount('/content/drive', force_remount=True)
  project_dir = "/content/drive/MyDrive/" + data_path
  return project_dir

def unmount_drive():
  drive.flush_and_unmount()
  print('Drive Unmounted')

def get_file_names(project_dir):
  path = os.path.join(os.getcwd(),project_dir)
  print(path)
  filenames = [os.path.join(path,i) for i in os.listdir(path) if os.path.isfile(os.path.join(path,i))]
  return filenames


def read_data(filename, read):
  df1 = read(filename)
  return df1


def create_list_df(filenames, read):
  df_list = []
  for f in filenames:
    df_list.append(read_data(f, read))
  return df_list

def create_df(df_list):
  df = pd.DataFrame()
  for d in df_list:
    df = df.append(d)
  return df

def normalize_df(df, col):
  df1 = pd.json_normalize(df[col])
  return df1



def remove_cols(d, cols_list):
  for col in cols_list:
    d.drop(col, axis=1, inplace=True)
  return d

def remove_dups(d):
  print("old length: ", len(d))
  d.drop_duplicates(inplace=True)
  print("new_length: ", len(df))
  return d

def get_simplified_data_set(data_path):
  project_dir = mount_drive(data_path)
  filenames = get_file_names(project_dir)
  df_list = create_list_df(filenames, pd.read_json)
  df = create_df(df_list)
  df1 = normalize_df(df, "MonitoredVehicleJourney")
  df2 = remove_cols(df1, ["DirectionRef", "PublishedLineName", "OperatorRef", "OriginRef", "DestinationRef", "DestinationAimedArrivalTime", "Bearing", "BlockRef", "FramedVehicleJourneyRef.DataFrameRef", "FramedVehicleJourneyRef.DatedVehicleJourneyRef"])
  return df2

### Preparation - re-create the simplified dataset and create a new, regs, dataset

To complete the rest of this worksheet you will need two datasets:
* the full dataset for the collected live bus data for the period recorded (e.g. OneHourOfData)
* a dataframe containing data on each bus in the fleet

Set the value of data_location to the full path to the data as it is on your Google Drive

Use the function get_simplified_data_set() to get the table of bus journeys for the period

Create a new dataframe called regs by reading the bus_regs.csv data from this link: https://raw.githubusercontent.com/futureCodersSE/python-programming-for-data/main/Datasets/bus_regs.csv

Take a look at both dataframes to see what the data looks like.

In [3]:
data_location = 'OneHourOfData'

simplified_buses = get_simplified_data_set(data_location)
regs = pd.read_csv("https://raw.githubusercontent.com/futureCodersSE/python-programming-for-data/main/Datasets/bus_regs.csv")
get_simplified_data_set(data_location)

Mounted at /content/drive
/content/drive/MyDrive/OneHourOfData
Mounted at /content/drive
/content/drive/MyDrive/OneHourOfData

,LineRef,OriginName,DestinationName,OriginAimedDepartureTime,VehicleRef,VehicleLocation.Longitude,VehicleLocation.Latitude
0,7,Railway_Station,Chequers_Bus_Station,2022-09-07T06:41:00+00:00,6516,0.512874,51.271258
1,1,The_Strand,Chatham_Railway_Station,2022-09-07T07:50:00+00:00,4281,0.533265,51.396786
2,132,Hempstead_Valley_Shopping_Centre,Grammar_Schools,2022-09-07T07:01:00+00:00,6421,0.499678,51.374453
3,190,Waterfront_Bus_Station,Gravesend_Railway_Station,2022-09-07T07:00:00+00:00,4312,0.39291,51.432988
4,101,Pudding_Lane,Duncan_Road,2022-09-07T07:24:00+00:00,6475,0.525113,51.385695
...,...,...,...,...,...,...,...
1629,334,Tesco,Chequers_Bus_Station,2022-09-07T08:48:00+00:00,4279,0.790205,51.439333
1630,166,The_Kestrel_Shopping_Centre,Waterfront_Bus_Station,2022-09-07T08:58:00+00:00,4314,0.54957,51.337203
1631,155,Waterfront_Bus_Station,Village_Surgery,2022-09-07T09:03:00+00:00,6413,0.523676,51.38385
1632,182,Waterfront_Bus_Station,Beechings_Green,2022-09-07T08:28:00+00:00,6420,0.586885,51.375798
1633,692,The_Nags_Head,Grammar_Schools,2022-09-07T06:48:00+00:00,6442,0.499408,51.371068

### Task 1 - creating an emissions standard filtering function
---
The simplified dataframe is saved in `simplified_buses`, however in order to answer the next set of questions, it is necessary to have a function which seperates the dataset by emission class

Write a function which takes a dataframe and an emission class as parameters and uses the *regs* dataframe to check for buses that are of the given emissions class.

* create a variable inside the function which will filter the `regs` dataframe by the emission class and create a **list** of vehicle refs (these are in the `Last Tracked` column) only of those with the required emission class
* filter the bus dataframe keeping only the rows where the `VehicleRef` is in the *regs list*
* return the filtered bus dataframe

In [23]:
def euro_filter(df, df2, emission_class):
  listeuro = []
  euro3 = df[df['Emission Class'] == emission_class]
  euro3regs = euro3['Last tracked']
  for reg in euro3regs:
    listeuro.append(reg)
  filterbuses = df2[df2['VehicleRef'].isin(listeuro)]
  return filterbuses

def filterbus(df, filtlist):
  #droplist = []
  #filterbuses = 
  filterbuses = df[df['VehicleRef'].isin(filtlist)]
  # if not df['VehicleRef'] in list:
  #   droplist.append(df[0])
  # return droplist
  return filterbuses

listeuro = euro_filter(regs, simplified_buses, 'EURO III')
display(listeuro)
#filterbus(simplified_buses, listeuro)

,LineRef,OriginName,DestinationName,OriginAimedDepartureTime,VehicleRef,VehicleLocation.Longitude,VehicleLocation.Latitude
2,132,Hempstead_Valley_Shopping_Centre,Grammar_Schools,2022-09-07T07:01:00+00:00,6421,0.499678,51.374453
22,694,Forge_Lane,Grammar_Schools,2022-09-07T07:30:00+00:00,6428,0.50606,51.384996
23,659,Bus_Depot,Breton_Road,2022-09-07T06:52:00+00:00,6440,0.509273,51.357056
30,100,Ship_and_Trades,Waterfront_Bus_Station,2022-09-07T08:01:00+00:00,1616,0.537641,51.402051
34,89,Kings_Head,Oakwood_Park,2022-09-07T06:43:00+00:00,6438,0.531008,51.258346
...,...,...,...,...,...,...,...
1625,101,Pudding_Lane,Duncan_Road,2022-09-07T08:12:00+00:00,6441,0.53935,51.392108
1626,575,Lunsford_Park_Tesco,Invicta_Girls__Grammar_School,2022-09-07T07:25:00+00:00,6448,0.44068,51.309935
1631,155,Waterfront_Bus_Station,Village_Surgery,2022-09-07T09:03:00+00:00,6413,0.523676,51.38385
1632,182,Waterfront_Bus_Station,Beechings_Green,2022-09-07T08:28:00+00:00,6420,0.586885,51.375798
1633,692,The_Nags_Head,Grammar_Schools,2022-09-07T06:48:00+00:00,6442,0.499408,51.371068

### Task 2 
---
Write a function which calculates the percentage of buses in the given period that were a particular emissions class

* create a function which takes the bus dataframe and emissions class as parameters
* create a variable within your function called *subset* which calls the function you created in Task 1, passing in the required emissions class
* calculate the percentage using the length of the **subset** and the length of the original bus dataframe 
* return the percentage rounded to 2 decimal places

In [25]:
def percent_filtered(df, df2, emission_class):
  filterbus = euro_filter(df, df2, emission_class)
  filtered_length = len(filterbus)
  total_length = len(simplified_buses)
  percentage_of_total = (filtered_length / total_length) * 100
  return round(percentage_of_total, 2)

percent_filtered(regs, simplified_buses, 'EURO III')

21.18

### Task 3 - creating a function to calculate total distance 
---
Later on, we will need to be able to quickly calculate the total distance that all buses of an emission starndard have travelled in a day.  For this you will use a dataframe that has been already filtered for a particular emission standard.

To test your function now, you can use the dataframe you generated in Task 1

* write a function which takes a dataframe (that has been filtered for an emission class) as a parameter and returns the total_distance  
TO DO THIS:
* create a variable called lats which converts the dataframes `['VehicleLocation.Latitude']` column to a list 
* create a variable called longs which converts the dataframes `['VehicleLocation.Longitude']` column to a list 
* create an empty variable called `total_distance` 

Some theory:

Because of the earths curvature, its not that simple to calculate distance using latitudes and longitudes. Luckily, there is a python library to help us out (it has been imported for you below)

`geodesic((origin_lat, origin_long), (dest_lat, dest_long)).kilometers` will return the distance between two locations (using coordinates) 

It takes 2 parameters in the form of tuples (so a tuple for origin and a tuple for destination)

* In your function, use a for loop to iterate through the indexes of one of your lists (theyre both the same length) - *hint: range(len(list))*
* save the lat and long at each index into a tuple called origin
* save the lat and long at the following index (+1) into a tuple called destination 
* using the distance finding function above, add the distance to your `total_distance` variable
* return the total_distance variable at the end of your function

*hint: since we are looking at the next item in the list simultaneously you might want to only iterate to the 2nd to last index of your list*

In [44]:
from geopy.distance import geodesic

def total_distance(filtered):
  total_distance = 0

  for value in range(len(filtered['VehicleLocation.Longitude'])):
    if int(value) % 2 == 0:
      origin = ((filtered.iloc[value]['VehicleLocation.Longitude'], filtered.iloc[value]['VehicleLocation.Latitude']))
    elif int(value) % 2 != 0:
      destination = (filtered.iloc[value]['VehicleLocation.Longitude'], filtered.iloc[value]['VehicleLocation.Latitude'])
      distance = geodesic(origin, destination).kilometers
      total_distance = total_distance + distance
  return total_distance

total_distance(listeuro)

1601.6318935897498

### Task 4 
---

You might remember we worked out the rough emissions of a Euro 3 bus in the Bus Data Challenges.

We are going to use those same numbers - the cell below already contains the `get_emissions_data()` function which will create a list of dictionaries with the emissions values for each emission standard. 

Data Dictionary:
```
Field---------------------------Data Type------------------Description  
Emission Standard--------------Alphanumeric----------------Euro III, IV, V or VI	
CO2-------------------------------Float--------------------grams of CO2 emitted per KWhr  
Nox-------------------------------Float--------------------grams of Nox emitted per KWhr  
PM--------------------------------Float--------------------grams of particulate matter emitted per gm/KWhr  
```

**Some numbers to play with:**  
NOTE: These are NOT fact checked but give a rough idea of some numbers we might be able to use for a rough first model

*  A typical old diesel bus will typically get 5 miles per gallon, which is 2.126km per litre (divide mpg by 2.352)
*  One litre of diesel fuel has the energy content of 10.8 kWh

By that logic:

The total emissions per km is 10.8/2.126 equalling 5.08 (rounded to 2 decimal places)

To calculate total emissions for each euro standard:
* find total energy consumption for total distance: multiple total km distance (Task 3's function) by km energy (5.08) for each euro standard
* multiply total energy consumption by each toxic emissions grams for each euro standard 

Task:
* write a function that takes the `emissions_standard` as a parameter  
* inside your function, call your function from Task 1, parsing the parameters emissions_standard, and the `simplified_buses` dataframe, saving the result in a variable
* call your distance calculation function from task 2, parsing through the dataframe variable youve just created above, saving the result in a variable called `distance`
* use a for loop to iterate through the `emissions_data` dictionary 
* use an if statement to match up to the correct emissions standard dictionary
* calculate the total Co2, Nox and PM usage (use the distance variable you just made)
* return a dictionary containing the standard, the distance travelled by all buses of that standard in the period and the three total emissions calculated
```
{'Standard': emissions_standard, 'Total distance':distance, 'CO2':total CO2, 'Nox':total Nox, 'PM': total PM } 
```
* call your function for each euro standard (you'll need to pass the euro standard in with speech marks eg. "EURO III") adding the results to a new list called `bus_emissions_by_standard`
* print `bus_emissions_by_standard`

In [51]:
emissions_data = [
    {"Standard":"EURO III", "CO2":2.1, "Nox":5, "PM":0.1 },
    {"Standard":"EURO IV","CO2":1.5,"Nox":3.5,"PM":0.02 },
    {"Standard":"EURO V","CO2":1.5,"Nox":2,"PM":0.02},
    {"Standard":"EURO VI","CO2":1.5,"Nox":0.4,"PM":0.01}
]
  
def total_polutants(emissions_standard):
  listeuro = euro_filter(regs, simplified_buses, emissions_standard)
  distance = total_distance(listeuro)
  for standard in emissions_data:
    if standard.get('Standard') == emissions_standard:
      totalkwh = 5.08 * distance
      total_CO2 = totalkwh * standard.get('CO2')
      total_Nox = totalkwh * standard.get('Nox')
      total_PM = totalkwh * standard.get('PM')
      return {'Standard': emissions_standard, 'Total distance': distance, 'CO2': total_CO2, 'Nox': total_Nox, 'PM': total_PM}

bus_emissions_by_standard = []
bus_emissions_by_standard.append(total_polutants('EURO III'))
bus_emissions_by_standard.append(total_polutants('EURO IV'))
bus_emissions_by_standard.append(total_polutants('EURO V'))
bus_emissions_by_standard.append(total_polutants('EURO VI'))
print(bus_emissions_by_standard)

[{'Standard': 'EURO III', 'Total distance': 1601.6318935897498, 'CO2': 17086.20904081545, 'Nox': 40681.450097179644, 'PM': 813.6290019435929}, {'Standard': 'EURO IV', 'Total distance': 881.9328545337297, 'CO2': 6720.32835154702, 'Nox': 15680.766153609715, 'PM': 89.60437802062694}, {'Standard': 'EURO V', 'Total distance': 1700.8361057442446, 'CO2': 12960.371125771144, 'Nox': 17280.494834361525, 'PM': 172.80494834361525}, {'Standard': 'EURO VI', 'Total distance': 4166.695224893427, 'CO2': 31750.217613687913, 'Nox': 8466.724696983443, 'PM': 211.6681174245861}]

### Task 5 
---

Find the percentage of the total emissions produced by all the buses for each emission standard 

* Write a function which takes an emissions class as a parameter 
* Create a variable, for each type of emission (CO2, Nox, PM) , which holds the total emissions (add up all the values from the dictionary you created in the last task using a for loop)
* Using the given emissions class, calculate the percentage of the total emissions are for the emissions class (the emissions class emissions / total emissions * 100) 
* return the percentage
* print comparisons of each standard, its percentage of emissions and the percentage of the buses that were that standard (use your function from Task 2)

In [59]:
def percent_emissions(emissions_standard):
  CO2all = 0
  Noxall = 0
  PMall = 0
  for standard in bus_emissions_by_standard:
    CO2all = CO2all + standard.get('CO2')
    Noxall = Noxall + standard.get('Nox')
    PMall = PMall + standard.get('PM')
  for standard in bus_emissions_by_standard:
    if standard.get('Standard') == emissions_standard:
      percentageCO2 = (standard.get('CO2') / CO2all) * 100
      percentageNox = (standard.get('Nox') / Noxall) * 100
      percentagePM = (standard.get('PM') / PMall) * 100
  return {'Percentage CO2' : percentageCO2, 'percentage Nox' : percentageNox, 'percentage PM' : percentagePM}

print(percent_emissions('EURO III'), percent_filtered(regs, simplified_buses, 'EURO III'))
print(percent_emissions('EURO IV'), percent_filtered(regs, simplified_buses, 'EURO IV'))
print(percent_emissions('EURO V'), percent_filtered(regs, simplified_buses, 'EURO V'))
print(percent_emissions('EURO VI'), percent_filtered(regs, simplified_buses, 'EURO VI'))

{'Percentage CO2': 24.937136166427848, 'percentage Nox': 49.54540207184235, 'percentage PM': 63.18435421675763} 21.18
{'Percentage CO2': 9.808246099840266, 'percentage Nox': 19.097398495364637, 'percentage PM': 6.958447580780865} 9.18
{'Percentage CO2': 18.91552062594747, 'percentage Nox': 21.04568697830643, 'percentage PM': 13.419591780122472} 21.79
{'Percentage CO2': 46.33909710778442, 'percentage Nox': 10.311512454486582, 'percentage PM': 16.437606422339023} 45.65

### Task 6 
---
Create a function to filter the dataframe to just rows of buses in the AQMA boundary of Rainham High Street (similiar to the Task 9 in simplification worksheet)

Heres a reminder:

To remove all rows that are not within the boundary of Rainham High Street (the AQMA) you will need to check the latitudes and longitudes of each row. 

The bounding box for the latitude and longitude is as follows:
```
Min Lat 51.361462                                 Max Lat 51.364935
Min Long: 0.603210 ------------------------------ Min Long 0.603210  
                   |                            |  
                   |                            |  
                   |                            |  
                   |                            |  
                   |                            |
Min Lat 51.361462  ------------------------------ Max Lat 51.364935
Max Long 0.0.617510                               Max Long 0.617510
```
Therefore, to be in the boundary:
* the longitude must be between 0.603210 and 0.617510
* the latitude must be between 51.361462 and 51.364935

Use the function you made in Task 9 of the bus-data-simplification worksheet. If you need to, edit it to generalise it to take a dataframe as a parameter and run it on the simplified_buses dataframe from this worksheet.

Return and save the filtered dataframe that only contains rows which have passed through the AQMA.

### Task 7
---
Using the filtered dataframe from Task 6, repeat tasks 4 and 5 on just the buses in the AQMA.