<a href="https://colab.research.google.com/github/JackSandford/ECK/blob/main/Projects/Bus_Data_dataset_simplification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating a simplified dataset
----

### Introduction
---
As the data refreshes every 10 seconds, in order to get a complete overview of bus emissions in the AQMA, it is necessary to pull the data every few minutes. The result however is many many JSON files. 

In order to analyse the data, we need to simplify the data by creating a large  dataset which only contains the information we really need. 

To do this:
* find all the individual filenames
* read all the files into dataframes
* create a list of dataframes
* concatenate the dataframes to create 1 big dataframe
* remove unnecessary columns 
* remove duplicate rows
* remove all rows which are not Euro III buses 
* remove all rows which are not in the AQMA Rainham boundary (listed in the presentation)

### Finding the filenames
---

**Important do not skip**  
First you will need to add the data to your drive:   
Click https://drive.google.com/drive/folders/1XmGyJqykj44wt7Eieb6vEoWeY6kH0cwN?usp=sharing

1. add a shortcut to the folder to your drive (click the little arrow next to the folder name OneHourOfData
2. When you go to My Drive, there should be a folder called **OneHourOfData**

### Run the following code 

Due to all the data files having long names, we don't know the exact filenames.
Run the code cell below to generate a list of the filenames in the data folder.
 
It will ask for permission to access your Google Drive, click accept

In [1]:
import os
import pandas as pd
import json 
from google.colab import drive

def mount_drive():
  drive.mount('/content/drive', force_remount=True)
  project_dir = "/content/drive/MyDrive/OneHourOfData"
  return project_dir

def unmount_drive():
  drive.flush_and_unmount()
  print('Drive Unmounted')

def get_file_names(project_dir):
  path = os.path.join(os.getcwd(),project_dir)
  filenames = [os.path.join(path,i) for i in os.listdir(path) if os.path.isfile(os.path.join(path,i))]
  return filenames


project_dir = mount_drive()

filenames = get_file_names(project_dir)
filenames = filenames[:6]

Mounted at /content/drive

### Before you leave the worksheet
---
**Run the following code**

When you finish the exercises or are leaving the worksheet to come back to later make sure to run the following code to unmount your google drive

In [ ]:
unmount_drive()

### Task 1 
---

Create a dataframe from the first json file in the `filenames` list. 

*(hint: use pd.read_json())*

In [6]:
df1 = pd.read_json('/content/drive/MyDrive/OneHourOfData/busdata_22-09-07_08-07-48.json')
display(df1)

,RecordedAtTime,ItemIdentifier,ValidUntilTime,MonitoredVehicleJourney,Extensions
0,2022-09-07T07:07:19+00:00,467dce63-7573-45d9-8713-7337ed464c80,2022-09-07T07:12:41.884566,"{'LineRef': '7', 'DirectionRef': 'inbound', 'F...",{'VehicleJourney': {'Operational': {'TicketMac...
1,2022-09-07T07:07:24+00:00,14f33ea4-9c31-4d9a-bfbd-daf3577a3e0d,2022-09-07T07:12:41.884913,"{'LineRef': '1', 'DirectionRef': 'outbound', '...",{'VehicleJourney': {'Operational': {'TicketMac...
2,2022-09-07T07:07:07+00:00,67470c05-e1c5-4178-89cc-075f0036c562,2022-09-07T07:12:41.885080,"{'LineRef': '132', 'DirectionRef': 'outbound',...",{'VehicleJourney': {'Operational': {'TicketMac...
3,2022-09-07T07:07:21+00:00,40333a3d-7fc0-4f01-95fb-370b9832197b,2022-09-07T07:12:41.885228,"{'LineRef': '190', 'DirectionRef': 'inbound', ...",{'VehicleJourney': {'Operational': {'TicketMac...
4,2022-09-07T07:07:24+00:00,2ed7b0ad-8703-4e98-b52d-7e7a81e14ee1,2022-09-07T07:12:41.885371,"{'LineRef': '101', 'DirectionRef': 'outbound',...",{'VehicleJourney': {'Operational': {'TicketMac...
...,...,...,...,...,...
127,2022-09-07T07:07:25+00:00,f7b4f1d7-5e64-4f33-964a-a869c0484a73,2022-09-07T07:12:41.911914,"{'LineRef': '166', 'DirectionRef': 'inbound', ...",{'VehicleJourney': {'Operational': {'TicketMac...
128,2022-09-07T07:07:10+00:00,097ce015-bdc4-400c-a187-ca8ceecb81de,2022-09-07T07:12:41.912053,"{'LineRef': '140', 'DirectionRef': 'outbound',...",{'VehicleJourney': {'Operational': {'TicketMac...
129,2022-09-07T07:07:02+00:00,b8510fe3-2dda-429d-8491-70bd8befbdf3,2022-09-07T07:12:41.912193,"{'LineRef': '155', 'DirectionRef': 'inbound', ...",{'VehicleJourney': {'Operational': {'TicketMac...
130,2022-09-07T06:59:46+00:00,2c1e5b91-affd-48da-9529-607f15e037f6,2022-09-07T07:12:41.912331,"{'LineRef': '692', 'DirectionRef': 'inbound', ...",{'VehicleJourney': {'Operational': {'TicketMac...
131,2022-09-07T07:07:11+00:00,70e28b94-2482-4a39-ae0a-d560f9f8b74d,2022-09-07T07:12:41.912466,"{'LineRef': '653', 'DirectionRef': 'outbound',...",{'VehicleJourney': {'Operational': {'TicketMac...

### Task 2
---
Create a list of dataframes called `df_list` from all the filenames in the `filenames` list

*hint: you will need to use a for loop*

In [10]:
df_list = []
for file in filenames:
  df_list.append(file)
display(df_list)

['/content/drive/MyDrive/OneHourOfData/busdata_22-09-07_08-07-48.json',
 '/content/drive/MyDrive/OneHourOfData/busdata_22-09-07_08-12-42.json',
 '/content/drive/MyDrive/OneHourOfData/busdata_22-09-07_08-17-43.json',
 '/content/drive/MyDrive/OneHourOfData/busdata_22-09-07_08-22-43.json',
 '/content/drive/MyDrive/OneHourOfData/busdata_22-09-07_08-27-44.json',
 '/content/drive/MyDrive/OneHourOfData/busdata_22-09-07_08-32-46.json']

### Task 3 
---

Create one big dataframe, by appending all the dataframes from task 2 together

*hint: you will need to create an empty dataframe and use a for loop*

In [18]:
bdf = pd.DataFrame()
for df in df_list:
  odf = pd.read_json(df)
  bdf = pd.concat([bdf, odf])
display(bdf)

,RecordedAtTime,ItemIdentifier,ValidUntilTime,MonitoredVehicleJourney,Extensions
0,2022-09-07T07:07:19+00:00,467dce63-7573-45d9-8713-7337ed464c80,2022-09-07T07:12:41.884566,"{'LineRef': '7', 'DirectionRef': 'inbound', 'F...",{'VehicleJourney': {'Operational': {'TicketMac...
1,2022-09-07T07:07:24+00:00,14f33ea4-9c31-4d9a-bfbd-daf3577a3e0d,2022-09-07T07:12:41.884913,"{'LineRef': '1', 'DirectionRef': 'outbound', '...",{'VehicleJourney': {'Operational': {'TicketMac...
2,2022-09-07T07:07:07+00:00,67470c05-e1c5-4178-89cc-075f0036c562,2022-09-07T07:12:41.885080,"{'LineRef': '132', 'DirectionRef': 'outbound',...",{'VehicleJourney': {'Operational': {'TicketMac...
3,2022-09-07T07:07:21+00:00,40333a3d-7fc0-4f01-95fb-370b9832197b,2022-09-07T07:12:41.885228,"{'LineRef': '190', 'DirectionRef': 'inbound', ...",{'VehicleJourney': {'Operational': {'TicketMac...
4,2022-09-07T07:07:24+00:00,2ed7b0ad-8703-4e98-b52d-7e7a81e14ee1,2022-09-07T07:12:41.885371,"{'LineRef': '101', 'DirectionRef': 'outbound',...",{'VehicleJourney': {'Operational': {'TicketMac...
...,...,...,...,...,...
134,2022-09-07T07:30:00+00:00,17669475-a77a-435a-9e98-8f63db2c348b,2022-09-07T07:37:45.894430,"{'LineRef': '166', 'DirectionRef': 'outbound',...",{'VehicleJourney': {'Operational': {'TicketMac...
135,2022-09-07T07:32:11+00:00,b990bd12-9813-4194-8b23-0c7b4bbd9ee9,2022-09-07T07:37:45.894591,"{'LineRef': '155', 'DirectionRef': 'inbound', ...",{'VehicleJourney': {'Operational': {'TicketMac...
136,2022-09-07T07:32:37+00:00,e827e916-76a2-48a1-8d6d-1ff201c9e14e,2022-09-07T07:37:45.894751,"{'LineRef': '182', 'DirectionRef': 'outbound',...",{'VehicleJourney': {'Operational': {'TicketMac...
137,2022-09-07T06:59:46+00:00,d6c5aac3-7ec0-433a-816e-ea19d0e6a7b3,2022-09-07T07:37:45.894911,"{'LineRef': '692', 'DirectionRef': 'inbound', ...",{'VehicleJourney': {'Operational': {'TicketMac...
138,2022-09-07T07:32:24+00:00,a18547a1-b634-432d-aba3-24906ae51b14,2022-09-07T07:37:45.895069,"{'LineRef': '647', 'DirectionRef': 'outbound',...",{'VehicleJourney': {'Operational': {'TicketMac...

### Task 4
---
Create a new dataframe which is normalized (using pd.json_normalize()) by the column `MonitoredVehicleJourney`

### Task 5
---
Copy the column `RecordedAtTime` from the first big dataframe to the new dataframe you created in Task 4

*hint: you will need to convert the old column to a list*

**Expected output:** 18 columns

### Task 6
---
Remove the columns `"DirectionRef", "PublishedLineName", "OperatorRef", "OriginRef", "DestinationRef", "DestinationAimedArrivalTime", "Bearing", "BlockRef", "FramedVehicleJourneyRef.DataFrameRef", 'FramedVehicleJourneyRef.DatedVehicleJourneyRef'`

### Task 7
---

Remove duplicate rows - only remove them if they are the same in all columns

### Task 8
---
Remove all rows which are not of **Euro III** standard.   
To do this:

### Task 8.1
--- 
* read into a new dataframe called `regs_emissions` the vehicle registrations dataset from this link: "https://raw.githubusercontent.com/futureCodersSE/python-programming-for-data/main/Datasets/bus_regs.csv"

### Task 8.2 
---
Create a list from the `regs_emissions` dataframe containing all the registrations from `Last tracked` which are Euro III


*hint: to_list()*  
**Expected Output:**

euro3 list has length 56  
euro3 list first entry is 1607

### Task 8.3
---

Create a new dataframe called `euro3_buses` which contains only rows where the buses are Euro III standard

* find rows where `VehicleRefs` is in the euro III registrations list from 8.2

### Task 9
---
We need to remove all rows that are not within the boundary of Rainham High Street (the AQMA) 

The bounding box for the latitude and longitude is as follows:
```
Max Lat 51.364935                                 Max Lat 51.364935
Min Long: 0.603210 ------------------------------ Max Long 0.617510  
                   |                            |  
                   |                            |  
                   |                            |  
                   |                            |  
                   |                            |
Min Lat 51.361462  ------------------------------ Min Lat 51.361462
Min Long 0.603210                                 Max Long 0.617510
```
Therefore, to be in the boundary:
* the longitude must be between 0.603210 and 0.617510
* the latitude must be between 51.361462 and 51.364935

Remove all rows from the `euro3_buses` df where the latitude and longitude are not within the max and min limits
* You will first need to convert the latitude and longitude columns to floats

*hint: use pd.to_numeric()*

### Task 10 CHALLENGE  
--- 
Can you do task 8 but with this different method:


Create a new column which has the corresponding emissions standard for each `VehicleRef` 

* repeat task 8.2 but for all emissions standards (you should end up with 4 lists, one for each emissions class)
* write a function which takes a dataframe as a parameter 
* use a series of if/elif statements which checks if the column `VehicleRef` is in each list
* return the corresponsing emission as a string for if/elif statement
* else return None 
* apply the function to create a new column called `Emissions_standard` to the dataframe from Task 7 
* create a new dataframe which keeps only the rows where the `Emissons_standard` is "Euro III"  

*hint: df[new_col_name] = df.apply(function_name, axis=1)*

How to use apply:

The apply() function will apply the function to each line of code - essentially it iterates through the column like a for loop and runs the if statements on each row. 

Heres an example:

```
def encode_bmi(df)
  if df['bmi'] >= 25:

    return 1

  else:

    return 0

df["bmi"] = df.apply(encode_bmi, axis=1)
```

This code will look at each row of the bmi column in the df and replace the value with 1 if the old value is above 25 and 0 if it's below. 

If you set the function to a new column name, it will do the same but rather than replace the old value in the bmi column, it will create a new column and put either a 1 or 0 in each row of the new column depending on the if criteria, but the original column will remain the same.

eg. 
```
def function_name(df):
  if df[old_col] = condition:
    return "condition_met"
  else:
    return "condition_not"

df[new_col_name] = df.apply(function_name, axis=1)
```